[data-md-color-scheme="slate"] {
  --md-hue: 240;
  --md-default-bg-color: hsla(0, 0%, 11%, 1);
}

.task-list-item {
  list-style-type: none !important;
}

.task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px !important;
  vertical-align: middle !important;
  position: unset !important;
  transform: scale(1.33);
}
