.task-list-item {
  list-style-type: none !important;
}

.task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

label {
    display: inline;
	color: #333;
	font-size: 100%;
}

.toctree-expand {
    line-height: 1.6;
    position: relative;
    left: -1.1em;
}